<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobasery Library</title>
</head>

<body>
    <div style="width: 100%;">
        <div style="width: 20%; height: 600px; float: left; border:1px solid black;">
            <a href="index.html">Homepage</a><br>
            <a href="bookList.html">Books</a><br>
            <a href="contact.html">Contact Us</a><br>
            <a href="survey.html">Survey</a>
        </div>
        <div style="margin-left: 20%; height: 600px; border:1px solid black;">
            <div style="width: 40%; height: 600px; float: left;">
                <img src="book3.jpg" width="300px" height="350px">
            </div>
            <div style="margin-left: 42%; height: 600px;">
                <h1>Harry Potter and the Prisoner of Azkaban</h1>
                <p>
                    The third book in the series of Harry Potter and Harry must save
                    a friend of his parents who is in grave danger. Another year of
                    trouble and adventure awaits.
                    Immerse yourself in this mystical world of magic once again! <br>
                    By J.K. Rowling <br>
                    Published by Bloomsbury <br>
                    Cover illustrations by Jonny Duddle <br>
                    ISBN 978-1-4088-5567-6
                </p>
            </div>
        </div>
    </div>
</body>

</html>