<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobasery Library</title>
</head>

<body>
    <div style="width: 100%;">
        <div style="width: 20%; height: 600px; float: left; border:1px solid black;">
            <a href="home.html">Homepage</a><br>
            <a href="books.html">Books</a><br>
        </div>
        <div style="margin-left: 20%; height: 600px; border:1px solid black;">
            <p>
                <a href="book1.html"><img src="book1.jpg" width="100px" height="150px"></a>
                <a href="book1.html">Harry Potter and the Philosopher's Stone</a>
            </p>
            <p>
                <a href="book2.html"><img src="book2.jpg" width="100px" height="150px"></a>
                <a href="book2.html">Harry Potter and the Chamber of Secrets</a>
            </p>
            <p>
                <a href="book3.html"><img src="book3.jpg" width="100px" height="150px"></a>
                <a href="book3.html">Harry Potter and the Prisoner of Azkaban</a>
            </p>
        </div>
    </div>
</body>

</html>