<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobasery Library</title>
</head>

<body>
    <div style="width: 100%;">
        <div style="width: 20%; height: 600px; float: left; border:1px solid black;">
            <a href="index.html">Homepage</a><br>
            <a href="bookList.html">Books</a><br>
            <a href="contact.html">Contact Us</a><br>
            <a href="survey.html">Survey</a>
        </div>
        <div style="margin-left: 20%; height: 600px; border:1px solid black;">
            <h1>Contact Us</h1>
            <p>Find us at XR4H+3CG Neidi, Bandar Bushehr, Bushehr Province, Iran</p>
            <iframe
                src="https://maps.google.ca/maps?q=XR4H+3CG%20Neidi,%20Bandar%20Bushehr,%20Bushehr%20Province,%20Iran&amp;output=embed"
                frameborder="2"></iframe>
        </div>
    </div>
</body>

</html>