<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobasery Library</title>
</head>

<body>
    <div style="width: 100%;">

        <div style="width: 20%; height: 600px; float: left; border:1px solid black;">
            <a href="index.html">Homepage</a><br>
            <a href="bookList.html">Books</a><br>
            <a href="contact.html">Contact Us</a><br>
            <a href="survey.html">Survey</a>
        </div>
        <div style="margin-left: 20%; height: 600px; border:1px solid black;">
            <form action="submit">
                <h1>Survey</h1>
                <table>
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td><input type="text" name="name" id="name" required></td>
                    </tr>
                    <td><label for="dob">Date of Birth</label></td>
                    <td><input type="date" name="dob" id="dob"></td>
                </table>
                <table>
                    <tr>
                        <td>
                            <p>How likely is<br> it that you<br> recommend <br> this library to<br> your friends?</p>
                        </td>
                        <td><input type="radio" name="recommend" id="vLikely" value="very">
                            <label for="vLikely">Very Likely</label>
                        </td>
                        <td><input type="radio" name="recommend" id="sLikely" value="somewhat">
                            <label for="sLikely">Somewhat Likely</label>
                        </td>
                        <td><input type="radio" name="recommend" id="nLikely" value="not">
                            <label for="nLikely">Not Likely</label>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Submit</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</body>

</html>

<!-- <label for="sel">Select Age Group</label>
                <select name="sel" id="sel">
                    <option value=" ">Please choose an option</option>
                    <option value="under18">under 18</option>
                    <option value="mid">18-55</option>
                    <option value="old">55-70</option>
                </select> -->